.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../img/Fundo.jpg');
    background-repeat: no-repeat center;
    background-position: bottom;
    background-size: 100%;
    
}