.content {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin-bottom: 60px;
}

.imagem {
    margin-bottom: 12%;
}

.descrição {
    background-color: #fafafa;
    border-radius: 70px;
    padding: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.description {
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    margin-top: 0; 
}


.mascot-image {
        width: auto;      /* Permite que a largura da imagem seja ajustada automaticamente */
        height: auto;     /* Permite que a altura da imagem seja ajustada automaticamente */
        max-width: 150px; /* Define uma largura máxima para a imagem */
        max-height: 250px; /* Define uma altura máxima para a imagem */
        margin-top: -10px;
    
}

.history-icon {
    position: fixed;
    font-size: 30px;
    color: #F96302 !important;
    cursor: pointer;
}