.form-group {
    margin-bottom: 20px;
    text-align: center;

}

.input-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 0;
    max-width: 350px;
}

.input-container .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;

}

.input-container input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    color: black;
  }

.input-container::placeholder {
    color: black;
    opacity: 1;
  }